.form, form{
  label{
    width: 100%;
    display:block;
    font-size: 1.4rem;
    color: $dark-grey;
  }
  input[type="text"], textarea{
    margin-bottom: 1.5rem;
    border-radius: 3px;
    border: 1px solid $grey;
    min-width: 400px;
  }
  input, select{
    margin-bottom: 1.5rem;
  }
  button{
    margin-top:1rem;
  }
}
//for button styles see small-components.scss
.search{
  position:relative;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  border:none;
  border-bottom: 2px solid $primary-color;
  background: $off-white;
  font-size:24px;
  text-align:center;
  border-radius: 3px;
  &:focus{
    outline: none;
  }
}