{% extends 'base.html' %}
{% block content %}
<div class="pattern-background">
  <div class="text-box index-text-box">
    <h1>Tres Rios Field Office Plants Database</h1>
    <p>A database of plants curated by the Tres Rios Field Office Wildlife and Assessment Inventory and Monitoring programs.  Developed <a href="http://schmidtynotes.com">Mike Schmidt</a>.</p>
    <a href="{% url "plants:index" %}" class="link-button">Browse Plants</a>
  </div>
  <svg width="100%" height="100%">
		<defs>
			<pattern id="polka-dots" x="0" y="0" width="15" height="15" patternUnits="userSpaceOnUse">
				<circle fill="#00AA83" cx="2" cy="2" r="1" />
			</pattern>
		</defs>

		<rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
	</svg>

  </div>
  <div class = "content-wrapper" id="browse-plants">
    <h1 id="browse-plants">Welcome to the plants database</h1>
    <p>This is a database that houses all of the plant found and identified on the BLM Tres Rios Field Office. Take a look around all of our plants. Do you want a similar database for your organization or have questions?  Contact mike@schmidtyworks.com.</p>
    <!--<p><span class="bold">Sort by:</span> <a href="#" class = "sort-select" value="genus">Genus</a> | <a href="#" class = "sort-select" value = "family">Family</a> | <a href="#" class = "sort-select" value = "commonName">Common Name</a> | <a href="#" class="sort-select" value="symbol">Symbol</a></p>-->
    <input type="search" name="search" class="search" placeholder="Enter A Plant Name">
    <p class="sub-heading">Enter a plant genus, species or family to rilter the list</p>
    <div id="plants-list">

    </div>
  </div>
  <script>
    
  </script>
{% endblock %}