{% extends 'base.html'%}
{% block content%}
<div class = "content-wrapper">
  <h1>Welcome to the plants database</h1>
  <p>This is a database that houses the BLM Tres Rios Field Office's plants database. Take a look around all of our plants. Do you want a similar database for your organization.  Contact mike@schmidtyworks.com.</p>
  <p><span class="bold">Sort by:</span> <a href="#" class = "sort-select" value="genus">Genus</a> | <a href="#" class = "sort-select" value = "family">Family</a> | <a href="#" class = "sort-select" value = "commonName">Common Name</a> | <a href="#" class="sort-select" value="symbol">Symbol</a></p>
  <div id="plants-list">

  </div>
</div>
{% endblock %}